/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang|Raleway:300,400,500');

/* Colours */
$dark: #121215;
$light: #eee;
$grey: #777;

/* Medias */
$tablet-breakpoint: 1024px;
$smartphone-breakpoint: 768px;
