.gallery {
  padding-top: 15vh;

  @media (max-width: $tablet-breakpoint) {
    padding-top: 20vw;
  }

  @media (max-width: $smartphone-breakpoint) {
    padding-top: 33vw;
  }
}
.gallery__load-more {
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0 0.5rem;

  @media (max-width: $tablet-breakpoint) {
    margin: 2rem 0;
  }
}
