.lightbox {
  // background: red;
  // background: black;
  display: flex;
  height: 100vh;
  opacity: 0.8;
  outline: none;
  // padding: 0.5rem 0.5rem;
  width: 100vw;
}

.lightbox__photo {
  align-items: center;
  box-shadow: 0px 0px 100px 50px inset;
  display: flex;
  height: 100%;
  width: 50%;
}

.lightbox__info {
  // background: lightcoral;
  color: $light;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  // padding: 10rem 0 0 2rem;
  padding: 22vh 0 0 3vw;
  width: 50%;

  p {
    margin: 0.5rem 0;
  }

  .title {
    font-size: 3.5vh;
  }

  .description {
    font-size: 2.5vh;
  }

  .upload {
    font-size: 2vh;
  }
}

.x {
  cursor: pointer;
  display: block;
  position: fixed;
  right: 5vw;
  top: 5vh;
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease-in-out;
}
.x:hover {
  transform: rotate(180deg);
}
.x:before {
  content: '';
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 0;
  border-top: 2px solid $light;
  transform: rotate(45deg);
  transform-origin: center;
}
.x:after {
  content: '';
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 0;
  border-top: 2px solid $light;
  transform: rotate(-45deg);
  transform-origin: center;
}
