.ReactModalPortal > div {
  opacity: 0;
  z-index: 3;
  background: red;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.95) !important;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  outline: none;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}
