.search {
  display: flex;
}

.search-box {
  align-items: center;
  justify-content: center;
  position: relative;

  .search-icon {
    color: #777;
    font-size: 2vh;
    left: 0;
    position: absolute;
    transition: 0.3s ease-in-out;
    top: 1.5vh;
  }

  input {
    background: none;
    border: none;
    border-bottom: 0.1rem solid #777;
    color: $light;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    height: 5vh;
    outline: none;
    padding-left: 2vw;
    position: relative;
    transition: 0.3s ease-in-out;
    width: 20vw;

    &:focus {
      border-color: $light;
      width: 25vw;
    }

    &:focus ~ .search-icon {
      color: $light;
    }
  }
}
